<sw-page class="kplngi-type-script-index">
    <template #content>
        <div class="kplngi-type-script-index__content">
            <sw-number-field v-bind="fieldData"></sw-number-field>
        </div>
    </template>
</sw-page>
